body {
    font-family: Arial, sans-serif; 
    background-color: rgba(10, 169, 209, 0.274);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   
}

.container {
    background: rgba(111, 90, 204, 0.562);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}
